In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.pyplot import figure

plt.style.use("seaborn-v0_8-pastel")

sns.set_theme(
    style="whitegrid",
    palette="pastel",
    context="notebook"
)

In [2]:
df = pd.read_csv("odi_batting_rankings.csv")

In [3]:
df.head()

,Rating,Player,country_code,career_best_rating_date,career_best_rating_opnt,Career_Best_ODI_Ranking
0,845,Daryl Mitchell,NZ,18/01/2026,"v India,","1v West Indies,on16/11/2025"
1,795,Virat Kohli,IND,12/07/2018,"v England,","1v Australia,on30/10/2013"
2,764,Ibrahim Zadran,AFG,14/10/2025,"v Bangladesh,","2v Bangladesh,on14/10/2025"
3,757,Rohit Sharma,IND,06/07/2019,"v Sri Lanka,","1v Australia,on25/10/2025"
4,723,Shubman Gill,IND,24/09/2023,"v Australia,","1v Sri Lanka,on02/11/2023"